.main-card {
  justify-content: center;
}
.card-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.card-option {
  cursor: pointer;
}

.card-option:hover {
  border: 2px white solid;
  opacity: 70%;
}

.img-winner {
  display: flex;
  flex-shrink: initial;
  height: 5rem;
  position: absolute;
  z-index: 1;
}
.img-draw {
  display: flex;
  flex-shrink: initial;
  height: 10rem;
  position: absolute;
  z-index: 1;
}

.img-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-header {
  display: flex;
  min-height: 3rem;
  align-items: center;
  justify-content: center;
}