.main-card {
  justify-content: center;
}
.card-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.card-option {
  cursor: pointer;
}

.card-option:hover {
  border: 2px white solid;
  opacity: 70%;
}
