* {
  box-sizing: border-box;
}

html {
  font-family: Roboto;
}

body {
  margin: 1rem;
  background: rgb(29, 29, 29);
  font-family: Roboto;
  color: aqua;
  height: 90vh;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
